.carousel-inner img {
    width: 1400px;
    height: 500px;
}

.welcome {
    padding-top: 5%;
    padding-left: 2%;
    text-align: left;
    font-size: 30px;
}
.penjelasan {
    padding-left: 2%;
    text-align: left;
    font-size: 20px;
}
.youtubeSize {
    position: relative;
    width:420px; 
    height:315px;
}

.right{
    padding-right: 99px;
    padding-left: 50px;
}

.cardSize{
    width: 350px; 
    height: 180px;
}